<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="./assets/scss/main.css">
</head>

<body>

    <div class="forms-wrapper">

        <div class="heading">
            <h1>Detroit Wayne Integrated Health Network Daily Progress Note</h1>
            <p>Specialized Licensed Settings for CPT Codes H2016 & T1020</p>
        </div>
        <div class="form1-wrapper">
            <div class="input-rows">
                <div class="input-wrapper w-33">
                    <label for="form1-member">
                        member
                    </label>
                    <input type="text" name="form1-member" id="form1-member" placeholder="Member">
                </div>
                <div class="input-wrapper w-33">
                    <label for="form1-mhwin-id">
                        MHWIN ID#
                    </label>
                    <input type="text" name="form1-mhwin-id" id="form1-mhwin-id" placeholder="MHWIN ID#">
                </div>
                <div class="input-wrapper w-33">
                    <label for="form1-date">
                        date
                    </label>
                    <input type="date" name="form1-date" id="form1-date" placeholder="Date">
                </div>
            </div>
            <div class="input-rows">
                <div class="input-wrapper w-70">
                    <label for="form1-CRSP">
                        CRSP SC / CM
                    </label>
                    <input type="text" name="form1-CRSP" id="form1-CRSP" placeholder="CRSP SC / CM">
                </div>
                <div class="input-wrapper w-30">
                    <label for="form1-facility">
                        Facility
                    </label>
                    <input type="text" name="form1-facility" id="form1-facility" placeholder="Facility">
                </div>
            </div>
            <div class="input-rows">
                <div class="input-wrapper w-full">
                    <label for="form1-ipos-goals">
                        Identified IPOS Goals
                    </label>
                    <textarea name="form1-ipos-goals" id="form1-ipos-goals" rows="4"
                        placeholder="Identified IPOS Goals"></textarea>
                </div>
            </div>
            <div class="input-rows">
                <div class="input-wrapper w-half">
                    <label for="form1-pc-hours">
                        PC Hours
                    </label>
                    <input type="text" name="form1-pc-hours" id="form1-pc-hours" placeholder="PC Hours">
                </div>
                <div class="input-wrapper w-half">
                    <label for="form1-cls-hours">
                        CLS Hours
                    </label>
                    <input type="text" name="form1-cls-hours" id="form1-cls-hours" placeholder="CLS Hours">
                </div>
            </div>

            <!-- for community -->
            <div id="for-community">
                <div class="inner-heading">
                    <h3>
                        Community Living Supports Objectives
                    </h3>
                </div>

            </div>

            <!-- for personal -->
            <div id="for-personal">
                <div class="inner-heading">
                    <h3>
                        Personal Care Objectives
                    </h3>
                </div>

            </div>

            <div class="button-wrapper w-full">
                <button type="submit">Submit</button>
            </div>
        </div>

        <div class="form2-wrapper">
            <div class="inner-heading">
                <h3>
                    TASK ID CODES
                </h3>
            </div>
            <div class="task-id-details">
                <div class="task">
                    <strong>H</strong> = Hospitalization
                </div>
                <div class="task">
                    <strong>M</strong> = Monitoring
                </div>
                <div class="task">
                    <strong>R</strong> = Refusal
                </div>
                <div class="task">
                    <strong>ED</strong> = Education/Day Program
                </div>
                <div class="task">
                    <strong>TC</strong> = Total Care
                </div>
                <div class="task">
                    <strong>PA</strong> = Physical Assist
                </div>
                <div class="task">
                    <strong>VP</strong> = Verbal Prompts
                </div>
                <div class="task">
                    <strong>LOA</strong> = Leave of Absence
                </div>
                <div class="task">
                    <strong>HOH</strong> = Hand Over Hand
                </div>
                <div class="task">
                    <strong>I</strong> = Independent
                </div>
            </div>
            <div class="inner-heading">
                <h3>
                    PROGRESS CODES
                </h3>
            </div>
            <div class="progress-codes">
                <div class="code">
                    <strong>IP</strong> = Increased Progress
                </div>
                <div class="code">
                    <strong>DP</strong> = Decreased Progress
                </div>
                <div class="code">
                    <strong>SP</strong> = Same Progress
                </div>
            </div>

            <div class="input-rows">
                <div class="input-wrapper w-33">
                    <label for="form2-member">
                        member
                    </label>
                    <input type="text" name="form2-member" id="form2-member" placeholder="Member">
                </div>
                <div class="input-wrapper w-33">
                    <label for="form2-mhwin-id">
                        MHWIN ID#
                    </label>
                    <input type="text" name="form2-mhwin-id" id="form2-mhwin-id" placeholder="MHWIN ID#">
                </div>
                <div class="input-wrapper w-33">
                    <label for="form2-date">
                        date
                    </label>
                    <input type="date" name="form2-date" id="form2-date" placeholder="Date">
                </div>
            </div>

            <div id="form2RepeaterFields">
            
            </div>
        </div>

        
    </div>
    <!-- jquery/js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- custom js -->
    <script src="./assets/js/main.js" type="module"></script>
</body>

</html>