body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* hide aerows from meta box */

.postbox {
  .handle-order-higher,
  .handle-order-lower{
  display: none !important;
}
}
/* end hide aerow css */